@{
    Layout = null;
}
<!doctype html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Language" content="en" />
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#4188c9">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <link rel="icon" href="./favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" type="image/x-icon" href="./favicon.ico" />
    <title>Store components - tabler.github.io - a responsive, flat and full featured admin template</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=latin-ext">
    <link href="~/assets/css/dashboard.css" rel="stylesheet" />
    <link href="~/assets/plugins/charts-c3/plugin.css" rel="stylesheet" />
    <link href="~/assets/plugins/maps-google/plugin.css" rel="stylesheet" />

</head>
<body class="">
    <div class="page">
        <div class="page-main">
            <div class="header py-4">
                <div class="container">
                    <div class="d-flex">
                        <a class="header-brand" href="/Home/Index">
                            <img src="~/assets/tabler.svg" class="header-brand-img">
                        </a>
                    </div>
                </div>
                <div class="row">
                <div class="col-md-3"></div>
                <div class="input-group col-md-6" style="margin-top:10px">
                    <input type="text" class="form-control input-lg arama" placeholder="Arama" id="arama" />
                    <span class="input-group-btn">
                        <button class="btn btn-info arama-buton btn-lg" type="button" id="arama-buton">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </div>
                @*<div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-lg-3 col-md-8">
                        <input type="text" class="form-control m-input arama col-md-11" placeholder="Arama" aria-describedby="basic-addon1" id="arama">
                        <button class="btn btn-brand arama-buton col-md-1" id="arama-buton">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>*@
            </div>
            <div class="my-3 my-md-5">
                <div class="container">
                    <div class="page-header">
                        <h1 class="page-title">
                            Arama Sonuçları
                        </h1>
                    </div>
                    <div class="row row-cards">
                        <div class="col-lg-3">
                            <div class="row">
                                <div class="col-md-6 col-lg-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="mb-4 text-center">
                                                <img src="~/assets/images/apple-iphone7-special.jpg" alt="Apple iPhone 7 128GB" class="img-fluid">
                                            </div>
                                            <h4 class="card-title"><a href="javascript:void(0)">Apple iPhone 7 Plus 256GB Red Special Edition</a></h4>
                                            <div class="card-subtitle">
                                                Apple
                                            </div>
                                            <div class="mt-5 d-flex align-items-center">
                                                <div class="product-price">
                                                    <strong>$499</strong>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="mb-4 text-center">
                                                <img src="~/assets/images/gopro-hero.jpg" alt="Apple iPhone 7 128GB" class="img-fluid">
                                            </div>
                                            <h4 class="card-title"><a href="javascript:void(0)">GoPro HERO6 Black</a></h4>
                                            <div class="card-subtitle">
                                                GoPro
                                            </div>
                                            <div class="mt-5 d-flex align-items-center">
                                                <div class="product-price">
                                                    <strong>$599</strong>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-9 sonuclar">
                            <div class="card">
                                <table class="table card-table table-vcenter" id="myTable">
                                    <tr>
                                    <th class="text-center">Ürün Resmi</th> 
                                    <th class="text-center">Ürün Adı</th> 
                                    <th class="text-center">Puan</th> 
                                    <th class="text-center">Satıcı</th> 
                                    <th class="text-center">Fiyat</th>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        </div>
                </div>
            </div>
        </div>

        <footer class="footer">
            <div class="container">
                <div class="row align-items-center flex-row-reverse">
                </div>
            </div>
        </footer>
    </div>
</body>
</html>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script>
    $(".arama-buton").click(function () {
        var word = $(".arama").val();
        var url = "@Url.Action("Search","Home")/" + word;
        var content = "";
        $.ajax({
            method: 'GET',
            url: url,
            data: { word: word },
            success:
                function (veri) {
                    if (veri.status) {
                        for (var i = 0; i < veri.data.length; i++) {
                            content +=
                                ' <tr>' +
                                ' <td><img src="' + veri.data[i].resim + '" style="max-width: none !important" alt="" class="h-8"></td>' +
                                '  <td> ' +
                                '<a href = ' + veri.data[i].link + '>' + veri.data[i].isim + '</a>' +
                                ' </td>' +
                                '<td class="text-muted d-none d-md-table-cell text-nowrap">' + veri.data[i].puan + '</td>' +
                                ' <td class="text-muted d-none d-md-table-cell text-nowrap">' + veri.data[i].satıcı + '</td>' +
                                ' <td class="">' +
                                '<strong>' + veri.data[i].fiyat +'₺'+ '</strong>' +
                                '</td>' +
                                ' </tr>';
                        }
                        var table = ' <div class="card"> <table class="table card-table table-vcenter" id="myTable">' +
                            '<tr><th class="text-center">Resim</th><th class="text-center" onclick="sortTable(1)"> Ürün Adı</th>' +
                            '<th class="text-center" onclick="sortTable(2)">Puan</th><th class="text-center" onclick="sortTable(3)">Satıcı</th>' +
                            '<th class="text-center" onclick="sortTable(4)">Fiyat</th></tr>' +
                            content +
                            ' </table ></div >';
                        $(".sonuclar").html(table);
                       
                    }
                },
        });
    });
</script>
@*
    <script>
        function loaderGetir() {

            document.getElementById("loader").style.display = "block";
        }
    </script>*@
<script>
    function sortTable(n) {
        debugger;
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("myTable");
        switching = true;
        dir = "asc";
        while (switching) {
            switching = false;
            rows = table.getElementsByTagName("TR");
            for (i = 1; i < (rows.length - 1); i++) {
                shouldSwitch = false;
                x = rows[i].getElementsByTagName("TD")[n];
                y = rows[i + 1].getElementsByTagName("TD")[n];
                if (n != 4) {
                if (dir == "asc") {
                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                        shouldSwitch = true;
                        break;
                    }
                } else if (dir == "desc") {
                    if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                        shouldSwitch = true;
                        break;
                        }
                    }
                }
                else {
                    if (dir == "asc") {
                        if (parseInt(x.innerHTML.replace(/<\/?[^>]+(>|$)|₺/g, "")) > parseInt(y.innerHTML.replace(/<\/?[^>]+(>|$)|₺/g, ""))) {
                            shouldSwitch = true;
                            break;
                        }
                    } else if (dir == "desc") {
                        if (parseInt(x.innerHTML.replace(/<\/?[^>]+(>|$)|₺/g, "")) < parseInt(y.innerHTML.replace(/<\/?[^>]+(>|$)|₺/g, ""))) {
                            shouldSwitch = true;
                            break;
                        }
                    }
                }
            }
            if (shouldSwitch) {
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                switchcount++;
            } else {
                if (switchcount == 0 && dir == "asc") {
                    dir = "desc";
                    switching = true;
                }
            }
        }
    }
</script>