@{
    Layout = null;
}
<!doctype html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Language" content="en" />
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#4188c9">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <!--    <link href="~/assets/demo/default/base/style.bundle.css" rel="stylesheet" type="text/css" />             -->
    <link href="~/assets/vendors/base/vendors.bundle.css" rel="stylesheet" type="text/css" />
    <link rel="icon" href="./favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" type="image/x-icon" href="./favicon.ico" />
    <title>Ürün Arama</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=latin-ext">
    <link href="~/assets/css/dashboard.css" rel="stylesheet" />
    <link href="~/assets/plugins/charts-c3/plugin.css" rel="stylesheet" />
    <link href="~/assets/plugins/maps-google/plugin.css" rel="stylesheet" />
    <link href="~/assets/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="~/assets/js/jquery.metadata.js"></script>
    <script src="~/assets/vendors/base/vendors.bundle.js" type="text/javascript"></script>
    <script src="~/assets/demo/default/base/scripts.bundle.js" type="text/javascript"></script>
    <script src="~/assets/snippets/pages/user/login.js" type="text/javascript"></script>
    <script src="~/assets/js/jquery.tablesorter.js"></script>
    <script src="~/assets/js/jquery.tablesorter.pager.js"></script>
    <script src="~/assets/js/vendors/paginathing.js"></script>
</head>
<body class="">
    <div class="page">
        <div class="page-main">
            <div class="header py-4">
                <div class="container">
                    <div class="d-flex">
                        <a class="header-brand" href="/Home/Index">
                            <img src="~/assets/tabler.svg" class="header-brand-img">
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="input-group col-md-6" style="margin-top:10px">
                        <input type="text" class="form-control input-lg arama" placeholder="Arama" id="arama" />
                        <span class="input-group-btn">
                            <button class="btn btn-info arama-buton btn-lg" type="button" id="arama-buton" onclick="loaderGetir()">
                                <i class="glyphicon glyphicon-search" style="font-size: 1.6rem !important;vertical-align: -0px !important"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="my-3 my-md-5">
                <div class="container">
                    <div class="page-header">
                        <h1 class="page-title">
                            Arama Sonuçları
                        </h1>
                    </div>
                    <div class="row row-cards">
                        <div class="col-lg-3">
                            <div class="row">
                                <div class="col-md-6 col-lg-12 siteStats">
                                </div>
                                <div class="col-md-6 col-lg-12 fiyatStats">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-9 sonuclar">
                            <div class="hata">

                            </div>
                            <table class="tablesorter">
                                <thead>
                                    <tr>
                                        <th class="text-center">Ürün Resmi</th>
                                        <th class="text-center">Ürün Adı</th>
                                        <th class="text-center">Kategori</th>
                                        <th class="text-center">Puan</th>
                                        <th class="text-center">Satıcı</th>
                                        <th class="text-center">Fiyat(₺)</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                            <div class="loader text-center" id="loader2" style="display:none;margin-left:45%;margin-bottom:3%;"></div>
                            <div id="pages">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container">
                <div class="row align-items-center flex-row-reverse">
                </div>
            </div>
        </footer>
    </div>
</body>
</html>
<script>
    $(".arama-buton").click(function () {
        var word = $(".arama").val();
        var url = "@Url.Action(action: "Search", controller: "Home")/" + word;
        var content = "";
        var siteStats = "";
        var fiyatStats = "";
        var siteStatsContent = "";
        var fiyat0_25 = 0;
        var fiyat25_50 = 0;
        var fiyat50_100 = 0;
        var fiyat100_250 = 0;
        var fiyat250_500 = 0;
        var fiyat500_1000 = 0;
        var fiyat1000_2500 = 0;
        var fiyat2500_5000 = 0;
        var fiyat5000_plus = 0;
        $.ajax({
            method: 'GET',
            url: url,
            data: { word: word },
            success:
                function (veri) {
                    console.log(veri);
                    if (veri.status) {
                        for (var j = 0; j < veri.data.length; j++) {
                        for (var i = 0; i < veri.data[j].products.length; i++) {
                            content +=
                                '<tr>' +
                            ' <td class="text-center"><img src="' + veri.data[j].products[i].resim + '" style="height: 100px !important; width: 100px !important" alt="" class="h-8"></td>' +
                                '  <td> ' +
                            '<a href = ' + veri.data[j].products[i].link + '>' + veri.data[j].products[i].isim + '</a>' +
                            ' </td>' +
                            '<td class="text-center">' + veri.data[j].products[i].kategori + '</td>' +
                            '<td class="text-center">' + veri.data[j].products[i].puan + '</td>' +
                            ' <td class="text-center">' + veri.data[j].products[i].satıcı + '</td>' +
                                ' <td class="text-center">' +
                            '<strong>' + veri.data[j].products[i].fiyat + '</strong>' +
                                '</td>' +
                                ' </tr>';
                        }
                        
                        var table = ' <table class="tablesorter" id="myTable">' +
                            '<thead><tr><th class="text-center" style="width:25%">Ürün Resmi</th><th class="text-center" style="width:25%"> Ürün Adı</th>' +
                            '<th class="text-center" style="width:17%"> Kategori </th>' +
                            '<th class="text-center" style="width:8%">Puan</th><th class="text-center" style="width:15%">Satıcı</th>' +
                            '<th class="text-center" style="width:15%">Fiyat (₺)</th></tr></thead>' +
                            content +
                            '</tbody></table>';
                            siteStatsContent += ' <div class="row">' +
                                ' <div class="mb-4 text-center">' +
                                '<img src="' + veri.data[j].logo_link + '" class="img-fluid" style="float:left; width:100px;height:100px">' +
                                ' </div>' + '<p style="margin-top: 45px;margin-left: 15px;"> Ürün Sayısı: ' + veri.data[j].totalCount + '</p>' + ' </div>';
                            siteStats =
                                ' <div class="card">' +
                                '<div class="card-body" style="margin-left: 10px;">' +
                                siteStatsContent +
                                ' </div></div>';
                            fiyat0_25 += veri.data[j].countPrices.c0_25;
                            fiyat25_50 += veri.data[j].countPrices.c25_50;
                            fiyat50_100 += veri.data[j].countPrices.c50_100;
                            fiyat100_250 += veri.data[j].countPrices.c100_250;
                            fiyat250_500 += veri.data[j].countPrices.c250_500;
                            fiyat500_1000 += veri.data[j].countPrices.c500_1000;
                            fiyat1000_2500 += veri.data[j].countPrices.c1000_2500;
                            fiyat2500_5000 += veri.data[j].countPrices.c2500_5000;
                            fiyat5000_plus += veri.data[j].countPrices.c5000_plus;
                        fiyatStats =
                            '<table class="table table-bordered table-striped">     ' +
                            '    <thead>                                            ' +
                            '        <tr>                                           ' +
                            '            <th class="text-center">Fiyat Aralığı</th> ' +
                            '            <th class="text-center">Miktar</th>        ' +
                            '        </tr>                                          ' +
                            '    </thead>                                           ' +
                            '    <tbody>                                            ' +
                            '        <tr>                                           ' +
                            '            <td class="text-center">0-25₺</td>         ' +
                        '            <td class="text-center">' + fiyat0_25 + '</td>          ' +
                            '                                                       ' +
                            '        </tr>                                          ' +
                            '        <tr>                                           ' +
                            '            <td class="text-center">25-50₺</td>        ' +
                        '            <td class="text-center">' + fiyat25_50 + '</td>         ' +
                            '        </tr>                                          ' +
                            '        <tr>                                           ' +
                            '            <td class="text-center">50-100₺</td>       ' +
                        '            <td class="text-center">' + fiyat50_100 + '</td>         ' +
                            '        </tr>                                          ' +
                            '        <tr>                                           ' +
                            '            <td class="text-center">100-250₺</td>      ' +
                        '            <td class="text-center">' + fiyat100_250 + '</td>          ' +
                            '                                                       ' +
                            '        </tr>                                          ' +
                            '        <tr>                                           ' +
                            '            <td class="text-center">250-500₺</td>      ' +
                        '            <td class="text-center">' + fiyat250_500 + '</td>         ' +
                            '        </tr>                                          ' +
                            '        <tr>                                           ' +
                            '            <td class="text-center">500-1000₺</td>     ' +
                        '            <td class="text-center">' + fiyat500_1000 + '</td>         ' +
                            '        </tr>                                          ' +
                            '        <tr>                                           ' +
                            '            <td class="text-center">1000-2500₺</td>    ' +
                        '            <td class="text-center">' + fiyat1000_2500 + '</td>          ' +
                            '                                                       ' +
                            '        </tr>                                          ' +
                            '        <tr>                                           ' +
                            '            <td class="text-center">2500-5000₺</td>    ' +
                        '            <td class="text-center">' + fiyat2500_5000 + '</td>         ' +
                            '        </tr>                                          ' +
                            '        <tr>                                           ' +
                            '            <td class="text-center">5000₺+</td>        ' +
                        '            <td class="text-center">' + fiyat5000_plus + '</td>         ' +
                            '        </tr>                                          ' +
                            '    </tbody>                                           ' +
                            '</table>';
                        }
                        $(".siteStats").html(siteStats);
                        $(".sonuclar").html(table);
                        //$('table tbody').paginathing();
                        $(".hata").html("");
                        $(".fiyatStats").html(fiyatStats);
                        $("#myTable").tablesorter({
                            headers: {
                                0: {
                                    sorter: false
                                }
                            }
                        });
                    } else {
                        var error = "<p>" + veri.message + "</p>";
                        toastr.error(veri.message);
                        $(".hata").html(error);
                        document.getElementById("loader2").style.display = "none";
                    }
                }
        });

    });
</script>
<script>
    function loaderGetir() {
        var element2 = document.getElementById("loader2");
        element2.style.display = "block";
    }
</script>
<script>
    var input = document.getElementById("arama");
    input.addEventListener("keyup", function (event) {
        event.preventDefault();
        if (event.keyCode === 13) {
            document.getElementById("arama-buton").click();
        }
    });
</script>
