@{
    Layout = null;
}
<!doctype html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Language" content="en" />
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#4188c9">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <link rel="icon" href="./favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" type="image/x-icon" href="./favicon.ico" />
    <title>Store components - tabler.github.io - a responsive, flat and full featured admin template</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=latin-ext">
    <link href="~/assets/css/dashboard.css" rel="stylesheet" />
    <link href="~/assets/plugins/charts-c3/plugin.css" rel="stylesheet" />
    <link href="~/assets/plugins/maps-google/plugin.css" rel="stylesheet" />
    @*
    <link href="~/assets/css/loader.css" rel="stylesheet" />*@
    <link href="~/assets/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="~/assets/js/jquery.metadata.js"></script>
    @*
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.js"></script>*@
    <script src="~/assets/js/jquery.tablesorter.js"></script>
    <script src="~/assets/js/jquery.tablesorter.pager.js"></script>
    <script src="~/assets/js/vendors/paginathing.js"></script>
</head>
<body class="">
    <div class="page">
        <div class="page-main">
            <div class="header py-4">
                <div class="container">
                    <div class="d-flex">
                        <a class="header-brand" href="/Home/Index">
                            <img src="~/assets/tabler.svg" class="header-brand-img">
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="input-group col-md-6" style="margin-top:10px">
                        <input type="text" class="form-control input-lg arama" placeholder="Arama" id="arama" />
                        <span class="input-group-btn">
                            <button class="btn btn-info arama-buton btn-lg" type="button" id="arama-buton" onclick="loaderGetir()">
                                <i class="glyphicon glyphicon-search" style="font-size: 1.6rem !important;vertical-align: -0px !important"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="my-3 my-md-5">
                <div class="container">
                    <div class="page-header">
                        <h1 class="page-title">
                            Arama Sonuçları
                        </h1>
                    </div>
                    <div class="row row-cards">
                        <div class="col-lg-3">
                            <div class="row">
                                <div class="col-md-6 col-lg-12 siteStats">
                                </div>
                                <div class="col-md-6 col-lg-12 fiyatStats">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-9 sonuclar">
                            <table class="tablesorter">
                                <thead>
                                    <tr>
                                        <th class="text-center">Ürün Resmi</th>
                                        <th class="text-center">Ürün Adı</th>
                                        <th class="text-center">Kategori</th>
                                        <th class="text-center">Puan</th>
                                        <th class="text-center">Satıcı</th>
                                        <th class="text-center">Fiyat(₺)</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                            <div class="loader text-center" id="loader2" style="display:none;margin-left:45%;margin-bottom:3%;"></div>
                            <div id="pages">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container">
                <div class="row align-items-center flex-row-reverse">
                </div>
            </div>
        </footer>
    </div>
</body>
</html>
<script>
    $(".arama-buton").click(function () {
        var word = $(".arama").val();
        var url = "@Url.Action(action: "Search", controller: "Home")/" + word;
        var content = "";
        var siteStats = "";
        var fiyatStats = "";
        $.ajax({
            method: 'GET',
            url: url,
            data: { word: word },
            success:
                function (veri) {
                    if (veri.status) {
                        console.log(veri);
                        for (var i = 0; i < veri.data.products.length; i++) {
                            content +=
                                '<tr>' +
                            ' <td class="text-center"><img src="' + veri.data.products[i].resim + '" style="height: 100px !important; width: 100px !important" alt="" class="h-8"></td>' +
                                '  <td> ' +
                            '<a href = ' + veri.data.products[i].link + '>' + veri.data.products[i].isim + '</a>' +
                            ' </td>' +
                            '<td class="text-center">' + veri.data.products[i].kategori + '</td>' +
                            '<td class="text-center">' + veri.data.products[i].puan + '</td>' +
                            ' <td class="text-center">' + veri.data.products[i].satıcı + '</td>' +
                                ' <td class="text-center">' +
                            '<strong>' + veri.data.products[i].fiyat + '</strong>' +
                                '</td>' +
                                ' </tr>';
                        }
                        //onclick="sortTable(1)" onclick="sortTable(2)" onclick="sortTable(3)" onclick="sortTable(4)"
                        var toplam = veri.data.gittigidiyorCount + veri.data.hepsiburadaCount + veri.data.n11Count;
                        var table = ' <table class="tablesorter" id="myTable">' +
                            '<thead><tr><th class="text-center" style="width:25%">Ürün Resmi</th><th class="text-center" style="width:25%"> Ürün Adı</th>' +
                            '<th class="text-center" style="width:17%"> Kategori </th>' +
                            '<th class="text-center" style="width:8%">Puan</th><th class="text-center" style="width:15%">Satıcı</th>' +
                            '<th class="text-center" style="width:15%">Fiyat (₺)</th></tr></thead>' +
                            content +
                            '</tbody></table>';
                        siteStats =
                           ' <div class="card">' +
                        '<div class="card-body" style="margin-left: 10px;">' +
                        ' <div class="row">' +
                                   ' <div class="mb-4 text-center">' +
                                      '<a href="https://www.gittigidiyor.com/"><img src="/assets/gglogo.jpg" alt="GittiGidiyor" class="img-fluid" style="float:left; width:100px;height:100px"></a>' +
                                               ' </div>' +
                        '<p style="margin-top: 45px;margin-left: 15px;"> Ürün Sayısı: ' + veri.data.gittigidiyorCount + '</a></p>' +
                        ' </div>' +
                                    '<div class="row">' +
                                        '<div class="mb-4 text-center">' +
                                           '<a href="https://www.hepsiburada.com/"><img src="/assets/hblogo.jpg" alt="HepsiBurada" class="img-fluid" style="float:left; width:100px;height:100px"></a>' +
                                               ' </div>' +
                        ' <p" style="margin-top: 45px;margin-left: 15px;"> Ürün Sayısı: ' + veri.data.hepsiburadaCount + '</a></p>' +
                        ' </div>' +
                                       ' <div class="row">' +
                                            '<div class="mb-4 text-center">' +
                                              '<a href="https://www.n11.com/"><img src="/assets/n11logo.jpg" alt="N11" class="img-fluid" style="float:left; width:100px;height:100px"></a>' +
                                              '  </div>' +
                        '  <p style="margin-top: 45px;margin-left: 15px;"> Ürün Sayısı: ' + veri.data.n11Count + '</a></p>' +
                        ' </div>' +
                        ' <div class="row">' +
                        '<div class="mb-4 text-center">' +
                        '<strong>Toplam Ürün: </strong>' +
                        '  </div>' +
                        '  <p style="margin-left:15%">' + toplam + '</p>' +
                        ' </div>' +
                            '</div> </div>';
                        fiyatStats =
                            '<table class="table table-bordered table-striped">     '+
                            '    <thead>                                            '+
                            '        <tr>                                           '+
                            '            <th class="text-center">Fiyat Aralığı</th> '+
                            '            <th class="text-center">Miktar</th>        '+
                            '        </tr>                                          '+
                            '    </thead>                                           '+
                            '    <tbody>                                            '+
                            '        <tr>                                           '+
                            '            <td class="text-center">0-25₺</td>         '+
                        '            <td class="text-center">' + veri.data.countPrices.c0_25 +'</td>          '+
                            '                                                       '+
                            '        </tr>                                          '+
                            '        <tr>                                           '+
                            '            <td class="text-center">25-50₺</td>        '+
                        '            <td class="text-center">' + veri.data.countPrices.c25_50 +'</td>         '+
                            '        </tr>                                          '+
                            '        <tr>                                           '+
                            '            <td class="text-center">50-100₺</td>       '+
                        '            <td class="text-center">' + veri.data.countPrices.c50_100 +'</td>         '+
                            '        </tr>                                          '+
                            '        <tr>                                           '+
                            '            <td class="text-center">100-250₺</td>      '+
                        '            <td class="text-center">' + veri.data.countPrices.c100_250 +'</td>          '+
                            '                                                       '+
                            '        </tr>                                          '+
                            '        <tr>                                           '+
                            '            <td class="text-center">250-500₺</td>      '+
                        '            <td class="text-center">' + veri.data.countPrices.c250_500 +'</td>         '+
                            '        </tr>                                          '+
                            '        <tr>                                           '+
                            '            <td class="text-center">500-1000₺</td>     '+
                        '            <td class="text-center">' + veri.data.countPrices.c500_1000 +'</td>         '+
                            '        </tr>                                          '+
                            '        <tr>                                           '+
                            '            <td class="text-center">1000-2500₺</td>    '+
                        '            <td class="text-center">' + veri.data.countPrices.c1000_2500 +'</td>          '+
                            '                                                       '+
                            '        </tr>                                          '+
                            '        <tr>                                           '+
                            '            <td class="text-center">2500-5000₺</td>    '+
                        '            <td class="text-center">' + veri.data.countPrices.c2500_5000 +'</td>         '+
                            '        </tr>                                          '+
                            '        <tr>                                           '+
                            '            <td class="text-center">5000₺+</td>        '+
                        '            <td class="text-center">' + veri.data.countPrices.c5000_plus +'</td>         '+
                            '        </tr>                                          '+
                            '    </tbody>                                           '+
                            '</table>'
                        $(".siteStats").html(siteStats);
                        $(".sonuclar").html(table);
                        //$('table tbody').paginathing();
                        $(".fiyatStats").html(fiyatStats);
                        $("#myTable").tablesorter({
                            headers: {
                                0: {
                                    sorter: false
                                }
                            }
                        });
                    }

                }
        });

    });
</script>
<script>
    function loaderGetir() {
        var element2 = document.getElementById("loader2");
        element2.style.display = "block";
    }
</script>
<script>
    var input = document.getElementById("arama");
    input.addEventListener("keyup", function (event) {
        event.preventDefault();
        if (event.keyCode === 13) {
            document.getElementById("arama-buton").click();
        }
    });
